h1{
    color:rgba(253, 178, 40, 0.774);
}
p{
    color:rgba(243, 46, 46, 0.685);
}
.header{
    background-color: rgb(45, 76, 252);
    color:rgb(255, 255, 255);
    /* color-adjust: rgb(97, 248, 92); */
}
.origami{
    display:flex;
    border-radius: 20px;
    background-color:white;
    width:310px;
    font-family: fantasy; 
    color:crimson;
    justify-content: space-between;
}